<?xml version='1.0' encoding='utf-8'?>
<widget id="mx.itesm.ciudadania" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ciudadania</name>
    <description>
       App Ciudadania
    </description>
    <author email="hola@1011.mx" href="http://1011.mx">
        1011
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
	<preference name="orientation" value="landscape" />
    <preference name="target-device" value="tablet" />
	<preference name="load-url-timeout" value="60000" />
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>
